.toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #703b09a1; */
  background: -webkit-linear-gradient(left, #703b093f -50%, #703b09a1 100%);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  border-radius: 0 0 10px 10px;
  transition: all 0.96s ease-out;
}

.toolobar nav {
  height: 100%;
}

@media (max-width: 499px) {
  .desktopOnly {
    display: none;
  }
  .hidden {
    /* display: none; */
    opacity: 0;
    transform: translateX(75%);
  }
}
